.title{
    text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.finCompra{
    text-align: center;
}
.idCompra{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gg{ 
    text-align: center;
}