.saludo{
    text-align: center;
    color: blue;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center ;
   
}
.cont{background-color: black;
display: flex;

}